.main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: aliceblue;
  position: relative;
}

.navbar {
  min-width: 240px;
  background-color: #1e1f25;
  height: 100%;
  padding: 30px;
  position: relative;
}

.navbar__logo {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  font-family: iransans;
  gap: 8px;
  font-size: 16px;
}

.navbar__logo-image {
  height: 45px;
  width: 45px;
}

.navbar__nav-list {
  list-style: none;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-top: 75px;
}

.navbar__nav-list li {
  height: 25px;
  display: flex;
  gap: 15px;
}
.navbar__nav-list li a {
  text-decoration: none;
  color: #fff;
  font-family: iransans;
}

.navbar__nav-list li a:active .navbar__nav-list li {
  background-color: #131517;
  color: red;
}

.nav-item__icon {
  width: 25px;
  display: block;
  object-fit: contain;
}

.navbar__logout-btn {
  background-color: #2a6fff;
  font-family: iransans;
  color: #fff;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 17px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 33px;
}

.dashboard {
  padding: 35px;
  background-color: #131517;
  width: 100%;
  overflow-y: scroll;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: iransans;
  direction: rtl;
}

.header h1 {
  color: #fff;
  direction: rtl;
  font-size: 14px;
  color: #666666;
}

.header__input-group {
  height: 45px;
  width: 400px;
  display: flex;
  align-items: center;
  background-color: #1e1f26;
  direction: rtl;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-around;
}

.header__input-group > * {
  color: #666666;
  border: none;
  background-color: transparent;
}

.header__icon {
  font-size: 20px;
}

.header__input-group input {
  width: 300px;
  padding-left: 5px;
  font-size: 12px;
}

.account {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 90px;
  column-gap: 10px;

  margin-top: 60px;
}

.account-item {
  width: 100%;
  background-color: #1e1f25;
  display: flex;
  flex-direction: row-reverse;
  font-family: iransans;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 8px;
}

.account-item__icon {
  display: block;
  width: 55px;
  height: 55px;
}

.account-item__text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.account-item__text-content {
  font-size: 30px;
}

@media (max-width: 1200px) {
  .account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px;
    row-gap: 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    position: absolute;
    top: 0;
    right: -100vw;
    z-index: 1;
    width: 100vw;
    transition: 1s right;
  }
  .navbar__logo {
    justify-content: center;
  }
  .navbar__nav-list li a {
    text-align: center;
    display: block;
    width: 100%;
  }
  .nav-item__icon {
    display: none;
  }
  .navbar__nav-list li {
    border-bottom: 1px solid #666666;
    padding: 45px;
    transition: 0.2s transform;
  }
  .navbar__nav-list li:hover {
    transform: translate(0px, -7px);
    cursor: pointer;
  }
}

.user__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  gap: 10px;
  margin-top: 10px;
}

.profile,
.followers {
  width: 100%;
  height: 100%;
  background-color: #1e1f25;
  border-radius: 10px;
  padding: 30px;
}

.profile__additional-info {
  display: flex;
  justify-content: space-around;
}

.info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info__icon {
  color: #2a6fff;
  font-size: larger;
}

.profile__figure {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.profile__image {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 50%;
}

.moving-border {
  width: 70px;
  height: 400px;
  position: absolute;
  background-color: #2a6fff;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  animation: 2s ease-in-out move-border forwards infinite;
}

@keyframes move-border {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.profile__name {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.profile__bio {
  text-align: center;
  color: #666666;
  margin-bottom: 45px;
}

.followers {
  display: flex;
  padding: 0;
  flex-direction: row-reverse;
  overflow: hidden;
  gap: 10px;
  background-color: #131517;
}

.followers > * {
  width: 50%;
  height: 100%;
  background-color: #1e1f25;
}

.followers__list {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;

  position: relative;
  justify-content: center;
  align-items: center;
}

.followers__list::-webkit-scrollbar {
  display: none;
}

.follower__title {
  font-family: iransans;
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 7px;
}

@media (max-width: 1100px) {
  .user__main {
    grid-template-columns: 1fr;
    grid-template-rows: 415px 415px;
  }
}

@media (max-width: 1020px) {
  .followers {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .followers > * {
    width: 100%;
    height: 180px;
    border-radius: 10px;
  }
}
