button {
  cursor: pointer;
}

.loading {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 99;
}

.loading__image {
  width: 5%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  animation: 4s loading-animation linear forwards infinite;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
